PORT=3000

SESSION_SECRET=your-session-secret

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=your-admin-password

SMTP_HOST=smtp.naver.com
SMTP_PORT=465
SMTP_SECURE=true

EMAIL_USER=your-leem73@naver.com
EMAIL_PASS=your-email-password
